.head {
    font-size: 20px;
    color: black;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}

.note {
    font-size: 15px;
    color: rgb(241, 40, 50);
}

.copyright {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid rgb(29, 12, 12);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}